<h2 class="page_title">Pods</h2>

<div class="table-controls">
  <input type="text" [(ngModel)]="filterText" placeholder="Filter..." />
</div>

<div *ngIf="error">{{ error }}</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Namespace</th>
      <th>Status</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pod of filteredPods">
      <td>
        <button mat-button (click)="describePod(pod)">Describe</button>
        <button style="margin-left: 5px;" (click)="restartPod(pod)">Restart</button>
      </td>
      <td>{{ pod.name }}</td>
      <td [ngClass]="{'running': pod.status === 'Running'}">{{ pod.status }}</td>
      <td>{{ pod.namespace }}</td>
      <td>{{ pod.age }}</td>
    </tr>
  </tbody>
</table>

